/* BASIC STYLES HERE */

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pokedex {
  flex-grow: 1;
}

.pokemon-list {
  max-height: 65vh;
  overflow-y: auto;
}

.action {
  cursor: pointer;
}

.bg-cerebii {
  background-color: #383838;
}

.active-pokemon-image {
  max-height: 50vh;
}